{% extends "AkunaApp/base.html" %}
{% block title %}
  Akuna-SHOP-Accueil
{% endblock title %}

{% block content %}
  <main>
    {% include "AkunaApp/akuna-fragments/AkunaApp-header.html" %}
    <section class="container">
      {% block main-content %}
        <div class="row mt-3 d-flex justify-content-between">
          <aside class="col-md-2 col-sm-12 pt-2 rounded border shadow categorie-aside">
            {% for categorie in categories %}
              <div class="d-flex p-0 mb-2 align-content-center rounded justify-content-start border categorie">
                <button class="btn w-100 text-left catedgorie-btn" >{{ categorie.libelle }} <div class="badge badge-danger  badge-pill w-25 h-25"></div> </button>
              </div>
            {% endfor %}
          </aside>
          <div id="owl-carousel" class="col-md-7 shadow rounded p-0 owl-theme owl-carousel">
            <div class="carousel-elt">
              <img class=" rounded " src=https://via.placeholder.com/720x450 height="400" alt="" srcset=""/>
            </div>
            <div class=" carousel-elt">
              <img class=" rounded " src=https://via.placeholder.com/720x450 height="400" alt="" srcset=""/>
            </div>
            <div class="carousel-elt">
              <img class=" rounded " src=https://via.placeholder.com/720x450 height="400" alt="" srcset=""/>
            </div>
            <div class=" carousel-elt">
              <img class=" rounded " src=https://via.placeholder.com/720x450 height="400" alt="" srcset=""/>
            </div>
          </div>
          <aside class="col-md-2 col-sm-12 pt-2 rounded border shadow categorie-aside">
            {% for categorie in categories %}
              <div class="d-flex p-0 mb-2 align-content-center rounded justify-content-start border categorie-aside-div">
                {% csrf_token %}
                <button class="btn bg-transparent w-100 text-left produit-btn" >{{ categorie.libelle }} <span class="badge badge-danger  badge-pill w-25 h-25"></span> </button>
              </div>
            {% endfor %}
          </aside>
        </div>
        <div class="row mt-3">
          <div class="container produits mt-2">
            <div class="row d-flex align-content-center justify-content-center mt-3 mb-3"><hr class="w-25 "><h5 class="text-muted">COMPOSANTS ELECTRONIQUES</h5> <hr class="w-25"> </div>
            <div class="row d-flex justify-content-between align-content-between mb-4 ">
              {% for produit in produit_list %}
                <div class="card shadow mb-2" style="width: 250px;">
                 <a href="{{produit.get_absolute_url}}"> <img  src="{{produit.image.url}}" alt="" class="img-thumbnail card-img-top"></a>
                  <div class="card-body">
                    <div class="d-flex align-content-center mb-2 justify-content-center">
                      <h5 class="card-title produit-name mr-auto"  >{{ produit.libelle|capfirst }}</h5>
                        <button class="add-cart-btn btn btn-outline-success border-0 rounded-pill update-cart" data-action="add"  data-produit={{ produit.id }}><i class="fa fa-cart-plus" aria-hidden="true"></i></button>
                      {% comment %} <form method="post" data-id:"{{produit.id}}" data-name:"{{produit.libelle}}" data-categorie:"{{produit.categorie}}" >
                        {% csrf_token %}
                      </form> {% endcomment %}
                      <a href="{{produit.get_absolute_url}}" class="btn border-0 btn-outline-success ml-1 rounded-pill"><i>Voir...</i></a>
                    </div>
                    <div class="card-footer border rounded">
                      <h4 class="produit-prix">
                        {{ produit.prix_unitaire|floatformat:2 }} CFA
                      </h4>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
          <div class="akuna-produit-pagination">
            {% comment %} <span class="step-links">
              {% if page_obj.has_previous %}
                  <a href="?page=1">&laquo; first</a>
                  <a href="?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}
      
              <span class="current">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>
      
              {% if page_obj.has_next %}
                  <a href="?page={{ page_obj.next_page_number }}">next</a>
                  <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
              {% endif %}
            </span> {% endcomment %}
          </div>
        </div>
        {% comment %} <div class="row catedorie-produit">
          <ul class="container nav nav-tabs nav-justified nav-link-ul" role="tablist">
            <li class="active nav-item">
              <a  data-toggle="tab" class="active" href="#Nouveau" class="link">NOUVEAUTES</a>
            </li>
            <li class="nav-item">
              <a  data-toggle="tab"  href="#Promo" class="link">PROMOTION</a>
            </li>
            <li class="nav-item">
              <a  data-toggle="tab" href="#En_vedette" class="link">VEDETTE</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade active" id="Nouveau" >
              <div id="nouveau-carousel" class="active">
                <img src=https://via.placeholder.com/250x150  alt="" srcset=""/>
                <img src=https://via.placeholder.com/250x150  alt="" srcset=""/>
                <img src=https://via.placeholder.com/250x150  alt="" srcset=""/>
                <img src=https://via.placeholder.com/250x150  alt="" srcset=""/>
              </div>
            </div>
            <div class="tab-pane fade promo-carousel" id="Promo" >
              <div id="promo-carousel"> 
                <img src=https://via.placeholder.com/250x150 alt="" srcset=""/>    
                <img src=https://via.placeholder.com/250x150 alt="" srcset=""/>    
                <img src=https://via.placeholder.com/250x150  alt="" srcset=""/> 
                <img src=https://via.placeholder.com/250x150  alt="" srcset=""/> 
              </div>
            </div>
            <div class="tab-pane fade vedette-carousel" id="En_vedette" >
              <div id="vedette-carousel" class="d-flex vedette-carousel mt-2">
                <div class="card ">
                  <img class="card-img-top" src=https://via.placeholder.com/250x150 alt="" srcset=""/>    
                  <div class="card-body">
                    <h4 class="card-title">Libelle Produit</h4>
                    <p class="card-text">Prix </p>
                    <a href="#" class="card-link add-cart-btn">Ajouter au panier</a>
                  </div>  
                </div>  
                <div class="card">
                  <img class="card-img-top" src=https://via.placeholder.com/250x150 alt="" srcset=""/>    
                  <div class="card-body">
                    <h4 class="card-title">Libelle Produit</h4>
                    <p class="card-text">Prix </p>
                    <a href="#" class="card-link add-cart-btn">Ajouter au panier</a>
                  </div>  
                </div>  
                <div class="card">
                  <img class="card-img-top" src=https://via.placeholder.com/250x150 alt="" srcset=""/>    
                  <div class="card-body">
                    <h4 class="card-title">Libelle Produit</h4>
                    <p class="card-text">Prix </p>
                    <a href="#" class="card-link add-cart-btn">Ajouter au panier</a>
                  </div>  
                </div>  
                <div class="card">
                  <img class="card-img-top" src=https://via.placeholder.com/250x150 alt="" srcset=""/>    
                  <div class="card-body">
                    <h4 class="card-title">Libelle Produit</h4>
                    <p class="card-text">Prix </p>
                    <a href="#" class="card-link add-cart-btn">Ajouter au panier</a>
                  </div>  
                </div>  
              </div>
            </div>
          </div>
        </div> {% endcomment %}
      {% endblock main-content %}
    </section>
    <footer class="akunaApp-footer">
      <section class="akuna-informations"></section>
      <section class="copyright text-center">copyright-kkwaxy-2020</section>
    </footer>
  </main>
{% endblock content %}
  
{% block addScript %}
  <script type="text/javascript" >
    let user = '{{request.user}}';
  </script>
  {% load static %}

{% endblock addScript %}